.input {
  border: 0.1rem solid #707070;
  border-radius: 4px;
  pointer-events: none;
  margin-left: 0rem;
  margin-top: 1vh;
  max-width: 84vw;
  padding: 3vw;
  width: 92%;
}
.input::placeholder {
  color: black;
  font-weight: 500;
}
.input:-ms-input-placeholder {
  color: black;
  font-weight: 500;
}
.input::-ms-input-placeholder {
  color: black;
  font-weight: 500;
}

.searchButton {
  background-color: #2d3ddf;
  border: 0;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  margin-top: 1vh;
  padding: 1.5vh 0;
  width: 100%;
}

@media only screen and (min-width: 641px) {
  .input {
    font-size: larger;
  }
  .searchButton {
    font-size: larger;
  }
}

@media only screen and (min-width: 1280px) {
  .bookingDetail {
    display: grid;
    grid-template-columns: 3fr 4fr 4fr 2fr;
    gap: 1vw;
  }
  .input {
    border: 0.1rem solid #b5b5b5;
    font-size: medium;
    margin-top: 3vh;
    padding: 1.5vh;
  }
  .input::placeholder {
    padding-left: 1.25vw;
  }
  .input:-ms-input-placeholder {
    padding-left: 1.25vw;
  }
  .input::-ms-input-placeholder {
    padding-left: 1.25vw;
  }
  .searchButton {
    font-size: medium;
    font-weight: bold;
    margin-top: 3vh;
    padding: 1vh 0;
    width: 90%;
  }
}

@media only screen and (min-width: 1600px) {
  .searchButton {
    width: 83%;
  }
}
