.title {
  font-weight: bold;
}

@media only screen and (min-width: 641px) {
  .title {
    font-size: x-large;
  }
}

@media only screen and (min-width: 1280px) {
  .title {
    font-size: large;
  }
}
